$lightbackground: #e3ffdb;
$buttoncolor1: #069664;
$buttoncolor2:  #023020;
$buttondark:  #02281b;

$primarylight: #9e3a53f2;
$primarydark: #800020;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2e3329;
